@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

nav ul li{
  position: relative;
  overflow: hidden;
}
nav ul li::after{
  content: "";
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: -100%;
  border-radius: 100%;
  transition: all ease 0.3s
}

nav ul li:hover::after{
  bottom: 0;
  border-radius: 0;
}

nav ul li:hover{
  color: white;
  transition: all ease 0.3s
}

.icon{
  opacity: 0;
  filter: blur(10px);
  transform: translateY(10px);
  animation: fadeInUp 0.4s ease 0.55s forwards;
}

/* Keyframes for animation */
@keyframes fadeInUp {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.cursor-none * {
  cursor: none !important;
}

@font-face {
  font-family: clash;
  src: url(../../public/Fonts/ClashDisplayComplete/ClashDisplay-Regular.otf);
}

@font-face {
  font-family: clashmedium;
  src: url(../../public/Fonts/ClashDisplayComplete/ClashDisplay-Medium.otf);
}

@font-face {
  font-family: clashbold;
  src: url(../../public/Fonts/ClashDisplayComplete/ClashDisplay-Semibold.otf);
}

@font-face {
  font-family: outfitlight;
  src: url(../../public/Fonts/Outfit/Outfit-Light.ttf);
}

@font-face {
  font-family: outfitbold;
  src: url(../../public/Fonts/Outfit/Outfit-Bold.ttf);
}

@font-face {
  font-family: panchangbold;
  src: url(../../public/Fonts/PanchangComplete/Panchang-Extrabold.otf);
}

@font-face {
  font-family: panchanglight;
  src: url(../../public/Fonts/PanchangComplete/Panchang-Regular.otf);
}

@font-face {
  font-family: inter;
  src: url(../../public/Fonts/Inter/Inter_18pt-ExtraLight.ttf);
}

@font-face {
  font-family: humanesemibold;
  src: url(../../public/Fonts/Humane/Humane-SemiBold.ttf);
}

@font-face {
  font-family: humanelight;
  src: url(../../public/Fonts/Humane/Humane-Light.ttf);
}


@font-face {
  font-family: thunder;
  src: url(../../public/Fonts/Thunder/Thunder-LightLC.ttf);
}
